In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from scipy.stats import pearsonr
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import AdaBoostClassifier

In [2]:
df = pd.read_csv("C:/Users/Dell/Downloads/Flight  - Sheet1.csv")

In [3]:
df.head()

,Person,Item_Identifier,Length,Breadth,PaperQuality,Angle,Foldings,Windspeed,Dominanthand,Distance
0,Kevin,Som,29.0,20.0,A,U,8,On,L,5
1,Kevin,kevin,23.0,16.0,B,U,8,On,L,5
2,Kevin,RR,NaN,18.0,A,L,10,On,R,6
3,Priya,Nithya,27.0,20.0,A,U,10,On,R,4
4,Priya,Priya,29.5,17.5,B,U,5,Off,R,8

In [4]:
df.Length.fillna(df.Length.mean(),inplace=True)

In [5]:
q3 = df["Length"].quantile(0.75)  
q1 = df["Length"].quantile(0.25)
IQR = q3 - q1
lower_limit = q1 - (IQR * 1.5)
upper_limit = q3 + (IQR * 1.5)

In [6]:
df['Length'] = np.where(df['Length'] >= upper_limit,upper_limit,np.where(df['Length'] <= lower_limit,lower_limit,df['Length']))

In [7]:
for j in df[df['PaperQuality'].isnull()].index.tolist():
    df.PaperQuality.iloc[j] =  df.PaperQuality[df['Item_Identifier']==df['Item_Identifier'].iloc[j]].mode().max()

D:\anaconda\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [8]:
for j in df[df['Angle'].isnull()].index.tolist():
    df.Angle.iloc[j] =  df.Angle[df['Person']==df['Person'].iloc[j]].mode().max()

In [9]:
df.columns = df.columns.str.replace(' ','')

In [10]:
df.insert(9,'isDominant','Yes')

In [11]:
for i in range(88):
    if df.Dominanthand[df['Person']==df.Person.iloc[i]].mode().max() != df.Dominanthand.iloc[i]:
        df.isDominant.iloc[i] = 'No'

In [12]:
df.drop(['Person','Item_Identifier'],axis=1,inplace=True)

In [13]:
df.head()

,Length,Breadth,PaperQuality,Angle,Foldings,Windspeed,Dominanthand,isDominant,Distance
0,29.000000,20.0,A,U,8,On,L,Yes,5
1,23.000000,16.0,B,U,8,On,L,Yes,5
2,26.708451,18.0,A,L,10,On,R,No,6
3,27.000000,20.0,A,U,10,On,R,Yes,4
4,29.500000,17.5,B,U,5,Off,R,Yes,8

In [14]:
df['Distance'].value_counts()

6     20
5     18
7     17
8      8
3      7
4      6
9      6
11     2
1      2
10     2
Name: Distance, dtype: int64

In [15]:
df.loc[ df["Distance"] < 6, "Distance"] = 0
df.loc[df["Distance"] != 0, "Distance"] = 1

##### Below 6 is represented as 0
##### Above 5 is represented as 1

In [16]:
df['Distance'].value_counts()

1    55
0    33
Name: Distance, dtype: int64

In [17]:
df.head()

,Length,Breadth,PaperQuality,Angle,Foldings,Windspeed,Dominanthand,isDominant,Distance
0,29.000000,20.0,A,U,8,On,L,Yes,0
1,23.000000,16.0,B,U,8,On,L,Yes,0
2,26.708451,18.0,A,L,10,On,R,No,1
3,27.000000,20.0,A,U,10,On,R,Yes,0
4,29.500000,17.5,B,U,5,Off,R,Yes,1

In [18]:
df.columns

Index(['Length', 'Breadth', 'PaperQuality', 'Angle', 'Foldings', 'Windspeed',
       'Dominanthand', 'isDominant', 'Distance'],
      dtype='object')

In [19]:
dfd = pd.get_dummies(df)

In [20]:
dfd.head()

,Length,Breadth,Foldings,Distance,PaperQuality_A,PaperQuality_B,Angle_L,Angle_U,Windspeed_Off,Windspeed_On,Dominanthand_L,Dominanthand_R,isDominant_No,isDominant_Yes
0,29.000000,20.0,8,0,1,0,0,1,0,1,1,0,0,1
1,23.000000,16.0,8,0,0,1,0,1,0,1,1,0,0,1
2,26.708451,18.0,10,1,1,0,1,0,0,1,0,1,1,0
3,27.000000,20.0,10,0,1,0,0,1,0,1,0,1,0,1
4,29.500000,17.5,5,1,0,1,0,1,1,0,0,1,0,1

In [21]:
df.isnull().sum()

Length          0
Breadth         0
PaperQuality    0
Angle           0
Foldings        0
Windspeed       0
Dominanthand    0
isDominant      0
Distance        0
dtype: int64

In [22]:
scaler = MinMaxScaler()
scaler.fit(dfd)

MinMaxScaler()

In [23]:
scalerData = scaler.transform(dfd)
scalerData = pd.DataFrame(scalerData)

In [24]:
scalerData.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
mean,0.467809,0.555556,0.627273,0.625000,0.409091,0.590909,0.250000,0.750000,0.500000,0.500000,0.204545,0.795455,0.136364,0.863636
std,0.198449,0.297571,0.347314,0.486897,0.494484,0.494484,0.435494,0.435494,0.502865,0.502865,0.405681,0.405681,0.345141,0.345141
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.375000,0.333333,0.600000,0.000000,0.000000,0.000000,0.000000,0.750000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
50%,0.485423,0.555556,0.600000,1.000000,0.000000,1.000000,0.000000,1.000000,0.500000,0.500000,0.000000,1.000000,0.000000,1.000000
75%,0.625000,0.888889,1.000000,1.000000,1.000000,1.000000,0.250000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
x = dfd.drop(['Distance'],axis=1)

In [26]:
y = dfd['Distance']

In [27]:
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.2,random_state=42)

### Logistic Regression

In [28]:
model=LogisticRegression()
model.fit(train_x,train_y)

D:\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [29]:
mean_squared_error(test_y,model.predict(test_x),squared=False)

0.7817359599705717

### Decision tree class

In [30]:
modeldtc = tree.DecisionTreeClassifier(random_state=42)
modeldtc.fit(train_x,train_y)

DecisionTreeClassifier(random_state=42)

In [31]:
mean_squared_error(test_y,modeldtc.predict(test_x),squared=False)

0.7071067811865476

In [32]:
model.predict(test_x)

array([1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1], dtype=int64)

In [33]:
accuracy_score(test_y, model.predict(test_x))

0.3888888888888889

In [34]:
test_y

76    1
0     0
26    1
22    1
12    0
67    1
10    0
18    1
4     1
68    0
85    0
65    0
53    1
80    0
84    0
64    1
33    1
79    1
Name: Distance, dtype: int64

In [35]:
mean_squared_error(test_y, model.predict(test_x), squared=False)

0.7817359599705717

In [36]:
clf=RandomForestClassifier(max_depth=2,random_state=42)

In [37]:
clf.fit(train_x,train_y)

RandomForestClassifier(max_depth=2, random_state=42)

In [38]:
mean_squared_error(test_y,clf.predict(test_x),squared=False)

0.7453559924999299

In [40]:
clf = AdaBoostClassifier(n_estimators=100, random_state=42)
clf.fit(train_x,train_y)

AdaBoostClassifier(n_estimators=100, random_state=42)

In [42]:
mean_squared_error(test_y,clf.predict(test_x),squared=False)

0.7453559924999299